/*#F92672; /*червоний*/
/*#FD971F; /*оранжевий*/
/*#E6DB74; /*жовтий*/
/*#A6E22E; /*зелений*/
/*#66D9EF; /*голубий*/
/*#AE81FF; /*фіолетовий*/
/*#F8F8F2; /*білий*/
/*#75715E; /*сірий*/
/*#272822; /*чорний*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Verdana', 'sans-serif', 'Arial', 'Tahoma';
}

body {
	background-color: #75715E;
}

button {
	position: absolute;
	padding: 4px;
}

#nameSet {
	 color: #F8F8F2;
	 text-transform: uppercase;
	 font-weight: normal;
}

table {
	position: relative;
	border-collapse: collapse;
	table-layout: fixed;
	margin: 8px 0px;
	background-color: #272822;
	box-shadow: 0px 4px 8px black;
}

table th {
	border: 2px solid #75715E;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
	word-wrap: break-word;
}

table th:first-line {
	color: #AE81FF;
}

#level2 th {
	color: #FD971F;
}

#level1 th {
	color: #E6DB74;
}

#level0 th {
	color: #66D9EF;
}

table td {
	border: 2px solid #75715E;
	height: 100%;
	vertical-align: top;
}

#level2 td {
	vertical-align: bottom;
}

table div {
	position: relative;
	padding: 1px 0px 0px 2px;
	border: 1px solid #272822;
}

table div.empty {
	opacity: 0;
}

table div.assertion {
	background-color: #F8F8F2;
	color: #272822;
	font-size: 11px;
	text-align: left;
	overflow: hidden;
	word-wrap: break-word;
}

table div.bigAssertion {
	background-color: red;
	z-index: 5000;
}

.hoverClass {
	border: 3px dashed #A6E22E;
}

/*.assertion:hover {
	width: 120px;
	box-shadow: 0px 0px 20px #333;
	border-radius: 0px;
	border: 6px solid rgb(197, 247, 193);
	position: fixed;
	z-index: 5000;
	width: 180px;
	height: 252px;
	left: 1100px;
	bottom: 0px;
	font-size: 14px;
	overflow: auto;
}*/