/*#F92672; /*червоний*/
/*#FD971F; /*оранжевий*/
/*#E6DB74; /*жовтий*/
/*#A6E22E; /*зелений*/
/*#66D9EF; /*голубий*/
/*#AE81FF; /*фіолетовий*/
/*#F8F8F2; /*білий*/
/*#75715E; /*сірий*/
/*#272822; /*чорний*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Verdana', 'sans-serif', 'Arial', 'Tahoma';
}

body {
	background-color: #75715E;
}

button {
	position: absolute;
	padding: 4px;
}

#nameSet {
	color: #F8F8F2;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

table {
	position: relative;
	border-spacing: 0px;
	table-layout: fixed;
	margin: 12px auto;
	background-color: #272822;
	-moz-box-shadow: 0px 4px 8px black;
	-webkit-box-shadow: 0px 4px 8px black;
	box-shadow: 0px 4px 8px black;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='black', Strength=8);
}

table th, table td {
	border: 2px solid #75715E;
}

table th {
	padding: 2px 0px;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
	word-wrap: break-word;
}

#level2 th {
	color: #FD971F;
}

#level1 th {
	padding: 5px 0px;
	color: #E6DB74;
}

#level0 th {
	color: #66D9EF;
}

#level2 th:first-line, #level0 th:first-line {
	color: #AE81FF;
}

table td {
	height: 100%;
	vertical-align: top;
}

#level2 td {
	vertical-align: bottom;
}

table div {
	position: relative;
	padding: 1px 2px;
	border: 1px solid;
	border-color: inherit;
	text-align: left;
	overflow: hidden;
	word-wrap: break-word;
}

table div.assertion {
	position: relative;
	background-color: #F8F8F2;
	color: #272822;
	font-size: 11px;
}

table div.bigAssertion {
	position: absolute;
	z-index: 5000;
	border: 8px solid #AE81FF;
	background-color: #272822;
	color: #F8F8F2;
	padding: 3px;
	font-size: 12px;
	text-indent: 20px;
	line-height: 18px;
}

table div.empty {
	opacity: 0;
}

.hoverDrop {
	border-color: #A6E22E;
}

.hoverNotDrop {
	border-color: #F92672;
}